<!-- <div class="login-container">
  <div class="login-image">
    <img src="assets/images/login.png" alt="Healthcare Illustration" />
  </div>
  <div class="login-form">
    <h2>Login</h2>
    <a href="/signup">New User? Signup</a>
    <form>
      <label for="email">Please enter email</label>
      <input type="email" id="email" placeholder="Email" />
      <label for="password">Please enter password</label>
      <input type="password" id="password" placeholder="Password" />
      <div class="forgot-password">
        <a href="resetemail" >Forgot Password?</a>
      </div>
      <button type="submit">Login</button>
    </form>
  </div>
</div> -->

<div class="login-container">
  <div class="login-image">
    <img src="assets/images/login.png" alt="Healthcare Illustration" />
  </div>
  <div class="login-form">
    <h1>User Login</h1>
    <a href="/signup" class="signup-link">New User? Signup</a>
    <form #loginForm="ngForm" (ngSubmit)="Login()">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" [(ngModel)]="email" name="email" required pattern="[a-z0-9._%+-]+@gmail\.com" class="form-control" id="email" placeholder="Enter Email">
        <div *ngIf="loginForm.controls['email']?.touched && loginForm.controls['email'].errors?.['required']" class="text-danger">
          Email is required.
        </div>
        <div *ngIf="loginForm.controls['email']?.touched && loginForm.controls['email'].errors?.['pattern']" class="text-danger">
          Invalid email format.
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" [(ngModel)]="password" name="password" required minlength="6" class="form-control" id="password" placeholder="Enter Password">
        <div *ngIf="loginForm.controls['password']?.touched && loginForm.controls['password'].errors?.['required']" class="text-danger">
          Password is required.
        </div>
        <div *ngIf="loginForm.controls['password']?.touched && loginForm.controls['password'].errors?.['minlength']" class="text-danger">
          Password must be at least 6 characters long.
        </div>
      </div>

      <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary btn-block">Login</button>
    </form>

    <div class="text-center">
      <!-- <button type="button" class="btn btn-link" href="/resetemail">Forgot Password?</button> -->
      <button type="button" class="btn btn-link" routerLink="/resetemail">Forgot Password?</button>

    </div>
  </div>
</div>






