<section class="about-us">
  <div class="container">
    <h2>About Us</h2>
    <p class="about-description">Transforming Healthcare with Innovative Technology</p>
    <p class="about-text">
      Discover a comprehensive healthcare platform designed to cater to your every need. From managing your medical history to receiving personalized medication recommendations, accessing mental health support, and connecting with experienced specialists, our platform offers holistic care tailored to you. Stay informed, connected, and empowered on your wellness journey with us.
    </p>
    <div class="about-features-grid">
      <div class="about-feature">
        <img src="assets/images/icon1.png" alt="Empowering Patient">
        <h3>Empowering Patient To Take Control Of Their Healthcare Journey</h3>
      </div>
      <div class="about-feature">
        <img src="assets/images/icon2.png" alt="Personalized Healthcare">
        <h3>Providing Patients With Personalized Healthcare</h3>
      </div>
      <div class="about-feature">
        <img src="assets/images/icon3.png" alt="Accessibility And Affordability">
        <h3>Enhancing Healthcare Accessibility And Affordability</h3>
      </div>
      <div class="about-feature">
        <img src="assets/images/icon4.png" alt="Data Privacy And Security">
        <h3>Maintaining The Highest Standards Of Data Privacy And Security</h3>
      </div>
    </div>
  </div>
</section>

