<div class="container mt-4">
  <div class="card">
    <h1>Password Reset</h1>
    <form #resetForm="ngForm" (ngSubmit)="resetForm.form.valid && setPassword()">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" [(ngModel)]="email" name="email" required email class="form-control" id="email" placeholder="Enter Email" pattern="[a-zA-Z0-9.-_]{1,}@gmail\.com">
        <div *ngIf="resetForm.controls['email']?.touched && resetForm.controls['email'].errors?.['required']" class="text-danger">
          Email is required.
        </div>
        <div *ngIf="resetForm.controls['email']?.touched && resetForm.controls['email'].errors?.['pattern']" class="text-danger">
          Email must be of the form gmail.com
        </div>
      </div>

      <div class="form-group">
        <label for="newPassword">New Password</label>
        <input type="password" [(ngModel)]="newPassword" name="newPassword" required minlength="6" maxlength="20" class="form-control" id="newPassword" placeholder="Enter New Password">
        <div *ngIf="resetForm.controls['newPassword']?.touched && resetForm.controls['newPassword'].errors?.['required']" class="text-danger">
          New Password is required.
        </div>
        <div *ngIf="resetForm.controls['newPassword']?.touched && resetForm.controls['newPassword'].errors?.['minlength']" class="text-danger">
          New Password must be at least 6 characters long.
        </div>
      </div>

      <button type="submit" [disabled]="resetForm.invalid" class="btn btn-primary">Reset Password</button>
    </form>
  </div>
</div>
